body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img{
  width: 100%;
}
.newArrivalImg{
  height: 60vh;
  object-fit: cover;
}
.mySqrBtn a {
  color: white;
}
a {
  color: #383838;
}
a:hover{
  color: #383838;

  /* border: 1px solid white; */
  text-decoration: none;
}
/* 
font-family: 'Montserrat', sans-serif; 
font-family: 'Nunito Sans', sans-serif;
*/
/*  color
#a8e6cf • #dcedc1 • #ffd3b6 • #ffaaa5 • #ff8b94 *#ff6f69 
 */
.logoImg{
  width: 35px;
}
.brandName{
  font-family: 'Montserrat', sans-serif; 
  color: rgb(34, 34, 34);
  font-weight: bolder;
}
.hambuger{
  cursor: pointer;
  display: none;
}

.hamMenu{
  position: relative;
  width: 100%;
}
.menuClosBtn{
  display: none;
  padding: 20px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 200;
  top: 0;
  /* background-color: coral; */
}
.hero{
  background-color: #F9C2BF;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 25px;
  /* background-image: url(./components/assets/heroImage.jpg);
  background-size: cover;
  background-repeat: no-repeat; */
}
.heroPrnt{
  /* position: relative;
  top: 12vh; */
}
.heroTxt{
  /* position: relative; */
  /* top: 120px;
  right: 0;
  left: 0;
  bottom: 0%;
  z-index: 50; */
  margin: 0 auto;
  text-align: center;
}
.bannerHtxt{
  font-size: 3.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}
.bannerSubtxt{
  font-size: 1rem;
}
.heroTxt h1{
  font-weight: 700;
  font-size: 8rem;
  font-family: 'Montserrat', sans-serif;
}
.seasonalLook h3{
  font-weight: 700;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
}
.heroCntMid{
  position: relative;
  z-index: 100;
  height: 10vh;
}
.heroImg1 {
  width: 83%;
}
.heroImg{
  height: 75vh;
  object-fit: cover;
}
.personImg{
  object-fit: cover;
}
.navLink{
  text-transform: uppercase;
  /* font-family: 'Nunito Sans', sans-serif; */
  font-family: 'Montserrat', sans-serif; 
  
  font-weight: bolder;
  color: #777777;
  padding: 10px;
}
.navLinkActive{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif; 
  /* font-family: 'Nunito Sans', sans-serif; */
  font-weight: bolder;
  color: #383838;
  padding: 10px;
}
.navLink:hover, .navLinkActive:hover{
  text-decoration: none;
  background-color: #a8e6cf;
  color: rgb(59, 59, 59);
}
.mySqrBtn{
  background-color: #383838;
  color: white;
  font-family: 'Montserrat', sans-serif; 
  text-transform: uppercase;
  padding: 15px 20px;
  cursor: pointer;
  font-weight: bolder;
}
.mySqrBtnSpecial{
  background-color: #a8e6cf;
  color: #383838;
  font-family: 'Montserrat', sans-serif; 
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bolder;
}
.mySqrBtnSpecialInactive{
  background-color: #9fb1aa;
  color: #383838;
  font-family: 'Montserrat', sans-serif; 
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: bolder;
}
.mySqrBtnSpecial:hover{
  background-color: #5fe7b5;
  color: #383838;
  font-family: 'Montserrat', sans-serif; 
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bolder;
}
.mySqrBtn:hover{
  background-color: #a8e6cf;
  /* background-color: #ebecec; */
  color: rgb(59, 59, 59);
}
.spBtn{
  position: relative;
  z-index: 200;
}
.reviewH3{
  text-transform: uppercase;
  letter-spacing: 15px;
  color: #616161;
  padding-top: 20vh;
  font-size: 1.6rem;
}
.h100{
  height: 85vh;
  object-fit: cover;
}
.h40{
  height: 33vh;
  object-fit: cover;
}
.h60{
  height: 55vh;
  object-fit: cover;
}
.seasonalLook{
  border: 3px solid #8a8a8a;
}
.hovrCntr{
  position: relative;
}
.hvrContent{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 30px;
  transition: all ease .5s;
  opacity: 0;
  /* font-family: 'Montserrat', sans-serif;  */
}
/*  color
#a8e6cf • #dcedc1 • #ffd3b6 • #ffaaa5 • #ff8b94
 */
.pnkBcgnd{
  background-color: #ffa9a5d5;
}
.orangeBcgnd{
  background-color: #ffd3b6d2;
}
.greenBcgnd{
  background-color: #dcedc18f;
}
.green2Bcgnd{
  background-color: #a8e6cfa4;
}
.pink2Bcgnd{
  background-color: #ff8b95be;
}
.hvrContent h4{
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  font-size: 3rem;

}
.hovrCntr:hover .hvrContent{
  opacity: 1;
}
.contentCapt{
  font-size: 2.5rem;
  color: #ffffff;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0%;
}
.womanHeroBkg{
  background-color: #fe9f31;
  /* background-image: url(./components/assets/Womens-fashion_2.jpg); */
  background-size: cover;
}
.kidHeroBkg{
  background-image: url(./components/assets/Kids-fashion.jpg);
  background-size: cover;
  
}
.menHeroBkg{
  background-color: #32afc3;
  background-size: cover;
}
.banner{
  height: 80vh;
}
.myBorder{
  border: 1px rgb(73, 73, 104) solid;
}
.myCard{
  /* background-color: #e0d0ce; */
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: 300px;
  position: relative;
}

.myCardHvr{
  background-color: #88e0b060;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  visibility: hidden;
}
.myCard:hover .myCardHvr{
  visibility: visible;
}
.myCardBig{
  background-color: #ffffff;
  padding: 25px 10px;
  margin: 5px;
  border-radius: 5px;
  width: 90%;
  position: relative;
}
.confirmationP{
  position: relative;
  /* min-height: 100vh; */
}
.orderSummary{
  position: sticky;
  top: 25px;
  right: 0;
}
.checkoutBckgnd{
  background: #32afc3;
  padding: 5px;
}
.cardtImg{
  height: 350px;
  object-fit: cover;
}
.cardTitle{
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 0;
}
.colorSwatches{
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.imgThmb{
  margin: 2px;
  border-radius: 2px;
  border: 3px solid #4dd48a;
  cursor: pointer;
}
.colorSwatches2{
  width: 50px;
  height: 50px;
  margin: 2px;
  border-radius: 2px;
  border: 3px solid #4dd48a00;
  cursor: pointer;
  border-radius: 50%;
}
.colorSwatchesActive{
  width: 50px;
  height: 50px;
  margin: 2px;
  border-radius: 2px;
  border: 3px solid #4dd48a;
  cursor: pointer;
  border-radius: 50%;
}
.cursor{
  cursor: pointer;
}
.deleteBtn{
  color: #969696;
}
.deleteBtn:hover{
  color: #303030;
}

.priceTag{
  font-size: 1.8rem;
  font-weight: bolder;
}
.productName{
  font-size: 2.3rem;
  font-weight: lighter;
}
.fa-star{
  font-size: 1.5rem;
}
.sizeTxt{
  width: 54px;
  height: 55px;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 9px 0;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  margin: 5px;
}
.sizeTxtNot{
  width: 54px;
  height: 55px;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 9px 0;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  margin: 5px;
  /* text-decoration: overline; */
  background: #b1b1b1;
  color: white;
}
.sizeTxtActive{
  width: 54px;
  height: 55px;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 9px 0;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #4dd48a;
  color: white;
  text-align: center;
  margin: 5px;
}
.sizeTxt:hover {
  width: 54px;
  height: 55px;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 9px 0;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #4dd48a;
  color: white;
  text-align: center;
  margin: 5px;
}
.warningCard{
  background-color: #40b373;
  color: white;

}
.estimatedPrice{
  border: 1px solid #adadad;
  min-height: 30vh;
  padding: 20px;
}
.shoppingNumber{
  background: #40b373;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  font-size: .9rem;
  position: absolute;
  top: -5px;
  right: 5px;
  color: white;
}
.proQty{
  background: #2b2b2b;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  font-size: .8rem;
  position: absolute;
  top: -5px;
  right: 5px;
  color: white;
  padding: 0px 6px;
}
.lineDvdr{
  width: 100%;
  height: 3px;
  border-radius: 2px;
}
.lineDvdrInActive{
  background: #e8e8e8;
}
.lineDvdrDone{
  background: #4dd48a;
}
.active{
  color: #303030;
}
.activeDone{
  color: #4dd48a;
}
.inactive{
  color: #949494;
}
.hide {
  display: none;
}
.checkMarkBtn{
  font-size: 1.3rem;
  cursor: pointer;
}
.orderConImg{
  height: 120px;
  object-fit: cover;
}
.bold{
  font-weight: bold;
}
.Thumbssect{
  height: 85vh;
  overflow-y: scroll;
}
.Thumbssect::-webkit-scrollbar {
  width: 5px;
}
.Thumbssect::-webkit-scrollbar-track {
  background: #c8d4d0; 
}
.Thumbssect::-webkit-scrollbar-thumb {
  background: #25b37c; 
} 
@media only screen and (max-width: 992px) {
  .hambuger{
    display: block;
    padding-top: 10px;
    font-size: 1.8rem;
    margin: 0;
  }
  .hideHamMenu{
    display: none;
  }
  .hamMenu{
    position: absolute;
    top: 0;
    left: 0;
    background: chocolate;
    z-index: 200;
  }
  .menuClosBtn{
    display: block;
    cursor: pointer;
  }
  .menuClosBtn:hover{
    background-color: white;
  }
  .heroTxt{
    top: 75px;
  }
}